:root {
    --main-cyan: #00e6f3;
    --darker-cyan: #00b7c2;
    --dark-gray-bg: #3b3b3b;
    --mid-dark-gray-bg: #3333;
    --darker-gray-bg: #1c1c1c;
    --soft-white-gray-color: #aaa;
    --just-white: white;
    --just-black: black;
    --danger: #ca0909;
}

:root .panels-3wFtMD {
    background: transparent;
    margin: 0 5px 8px 5px;
    border-radius: 20px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2),
        0 0 0 1px rgba(56, 31, 31, 0.11);
    overflow: hidden;
    color: #3333;
    
}
.container-YkUktl {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr 1fr;
    height: 80px;
    padding: 0px;
    margin: 0px;
}

.container-YkUktl button:hover {
    color: var(--interactive-hover);
    background-color: var(--background-modifier-selected) !important;
}

.container-YkUktl .flex-2S1XBF {
    grid-column: 1/-1;
}

.container-YkUktl button {
    background: #3333;
    border-radius: var(--radius-secondary);
    width: 100%;
    height: 35px;
}

.container-YkUktl .avatarWrapper-1B9FTW {
    width: 207px;
    height: 38px;
    margin: 3px;
    padding-left: 4px;
    border-radius: 8px;
}

.wrapper-3Hk9OB {
    border-bottom: 2px solid var(--main-cyan);
}

.activityPanel-9icbyU {
    border-bottom: 2px solid var(--main-cyan);
}

[class^="sidebar-"] [class^="panels-"] {
    margin: 12px;
    border-radius: 8px;
    margin-left: 10px !important;
}

[class^="sidebar-"] [class^="panels-"] [class^="container-"] {
    border-radius: 8px;
    align-items: center;
    justify-content: space-between;
}

[class^="sidebar-"] [class^="panels-"] [class*="withTagAsButton-"] {
    min-width: unset;
}

[class^="sidebar-"] [class^="panels-"] [class^="nameTag-"] [class*="title-"] {
    max-width: 32pt;
}

[class^="channelTextArea-"] {
    margin-bottom: 12px;
}

[class^="channelTextArea-"] [class^="scrollableContainer-"] {
    display: flex;
    align-items: center;
    min-height: 52px;
    flex-wrap: wrap;
}

[class^="channelTextArea-"] [class^="scrollableContainer-"] [class^="inner-"] {
    display: flex;
    width: 100%;
}

[class^="channelTextArea-"] [class^="scrollableContainer-"] ul[role="list"] {
    flex-grow: 1;
}

.content-1Tgc42:hover {
    border-right: 2px solid var(--main-cyan);
}

.listDefault-2F-w65 .clickable-1ctZ-H.selected-1oxcpH .content-1Tgc42 {
    border: 2px solid var(--main-cyan);
    border-radius: 20px;
}

.vc-notification-root {
  border: 2px solid var(--main-cyan) !important;
  background: var(--just-black) !important;
}
.vc-notification-close-btn {
  color: var(--just-white) !important;
}

#vc-spotify-player .bar-2H7Q9u .barFill-3RgCsY {
    background: var(--main-cyan);
}

#vc-spotify-player {
    border-bottom: 2px solid var(--main-cyan) !important;
}

.vc-spotify-button {
    background: none;
    color: var(--background-modifier-accent);
    --vc-spotify-green: var(--main-cyan) !important;
    padding: 0;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.session-9khLqt {
    background-color: var(--background-secondary);
    border-radius: 8px;
    padding: 12px 16px;
    padding-left: 12px;
    border-bottom: none;
    margin-top: 16px;
    gap: 12px;
}

.sessionIcon-2fwSzb {
    color: var(--interactive-normal);
    background: transparent;
}

[class^="member-"] {
    border: 2px solid var(--darker-gray-bg);
    border-radius: 20px;
}

[class^="member-"]:hover {
    border: 2px solid var(--main-cyan);
}

.selected-1-Z6gm {
    border: 2px solid var(--main-cyan);
    border-radius: 20px;
}

[class^="memberInner-"] {
    border-radius: 20px;
}

[class^="members-"] {
    background: var(--darker-gray-bg);
}

.layout-1qmrhw {
    border-radius: 20px;
}

.layout-1qmrhw:focus {
    border: 2px solid var(--main-cyan) !important;
}

.container-2o3qEW {
    background: var(--darker-gray-bg);
}

[class^="userPopoutOuter-"], [class^="userProfileOuter-"], [class^="userProfileOuterThemed-"] {
    border-radius: 20px;
}

[class^="userPopoutInner-"], [class^="userPopoutInner-"] {
    border-radius: 20px;
}

.scroller-15bIdk {
    overflow-y: auto !important;
    padding-right: 13px !important;
}

.section-28YDOf:has(.note-1NN2aP) {
    display: none;
}

.section-28YDOf {
    padding-bottom: 10px;
}

.colorDefault-2_rLdz.focused-3LIdPu {
    background-color: var(--darker-cyan);
}

.colorDefault-2_rLdz:active:not(.hideInteraction-1vQrZJ) {
    background-color: var(--darker-cyan);
}

[class^="chatContent-"] {
    background: var(--darker-gray-bg);
}

.form-3gdLxP:before {
    background: var(--darker-gray-bg) !important;
}

[class^="title-"] {
    background: var(--darker-gray-bg) !important;
}

.shc-lock-screen-container,
.shc-lock-screen-allowed-users-and-roles-container {
    background: var(--darker-gray-bg) !important;
}

.theme-dark {
    --scrollbar-thin-thumb: var(--dark-gray-bg);
    --scrollbar-thin-track: var(--darker-gray-bg);
    --scrollbar-auto-thumb: var(--dark-gray-bg);
    --scrollbar-auto-track: var(--darker-gray-bg);
}

.item-2LIpTv {
    background: var(--main-cyan);
}

.modeSelected-3DmyhH, .modeSelected-3DmyhH:hover {
    border: 2px solid var(--main-cyan) !important;
    border-radius: 20px;
    background: var(--dark-gray-bg);
}

.modeSelected-3DmyhH .link-1_kTxV {
    border-radius: 20px !important;
}

.containerDefault-YUSmu3:hover {
    border-left: 2px solid var(--main-cyan);
    background: var(--darker-gray-bg);
}

.sidebar-1tnWFu {
    background: var(--darker-gray-bg);
}

.container-1NXEtd {
    background: var(--darker-gray-bg) !important;
}

.unread-36eUEm {
    background: var(--main-cyan);
}

.modeUnread-3Cxepe .name-28HaxV {
    color: var(--main-cyan) !important;
}

.modeUnread-3Cxepe:hover .name-28HaxV {
    color: var(--just-white) !important;
}

.content-1OG56Q {
    overflow-y: auto !important;
}

.lookFilled-1H2Jvj.colorBrand-2M3O3N {
    background-color: var(--darker-cyan);
    border-radius: 8px;
}

.lookFilled-1H2Jvj.colorBrand-2M3O3N:hover {
    background-color: var(--darker-cyan);
    border: 2px solid var(--main-cyan);
    border-radius: 8px;
}

.lookFilled-1H2Jvj.colorPrimary-2-Lusz {
    border-radius: 8px;
}

.wrapper-3kah-n.selected-1Drb7Z .childWrapper-1j_1ub, 
.wrapper-3kah-n:hover .childWrapper-1j_1ub {
    background-color: var(--main-cyan);
    color: var(--darker-gray-bg);
}

.circleIconButton-1VxDrg {
    color: var(--just-white);
}

.selected-2r1Hvo {
    background-color: var(--main-cyan) !important;
    color: var(--darker-gray-bg) !important;
}

.container-1Lk8p7 {
    background: var(--darker-gray-bg);
}

.scroller-WSmht3 {
    background: var(--darker-gray-bg) !important;
}

.searchBar-3TnChZ {
    background: var(--darker-gray-bg);
}

[class^="peopleColumn-"] {
    background: var(--darker-gray-bg);
}

.container-1oAagU {
    background: var(--darker-gray-bg) !important;
}

.searchBar-2aylmZ {
    background: var(--mid-dark-gray-bg);
}

.input-2m5SfJ {
    color: var(--main-cyan);
}

.addFriendInputWrapper-kkoSV9:focus-within {
    border: 2px solid var(--main-cyan);
}

.lookFilled-1H2Jvj.colorBrand-2M3O3N:disabled, .lookFilled-1H2Jvj.colorBrand-2M3O3N[aria-disabled=true] {
    background: var(--dark-gray-bg);
}

.container-ZMc96U {
    background: var(--darker-gray-bg) !important;
    border-bottom: 2px solid var(--darker-cyan);
}

.sidebarRegionScroller-FXiQOh {
    background: var(--darker-gray-bg) !important;
    border-right: 2px solid var(--darker-cyan);
}

.contentRegionScroller-2_GT_N { 
    background: var(--darker-gray-bg);
}

.top-Ktfr_T .brand-2EKq3J.item-2GWPIy:active, 
.top-Ktfr_T .brand-2EKq3J.selected-1sf9UK.item-2GWPIy {
    border-bottom-color: var(--main-cyan);
}

.top-Ktfr_T .brand-2EKq3J.item-2GWPIy:hover {
    border-bottom-color: var(--darker-cyan);
}

.checked-16gMAN {
    background-color: var(--main-cyan) !important;
}

[class^="connectionOptionsWrapper-"] {
    background: var(--darker-gray-bg);
    border-bottom: 2px solid var(--main-cyan);
}

.connection-YOVI9j {
    background: var(--darker-gray-bg);
}

.reaction-3vwAF2.reactionMe-1PwQAc {
    border: 2px solid var(--main-cyan);
}

.barFill-3RgCsY {
    background: var(--main-cyan);
}

.reactors-1VXca7 {
    overflow-y: auto !important;
    background: var(--darker-gray-bg);
}

.scroller-2GkvCq {
    overflow-y: auto !important;
    background: var(--darker-gray-bg);
}

.burstEmojiSection-2PH_X5 {
    background: var(--darker-gray-bg);
}

.reactionSelected-1aMb2K {
    background-color: var(--dark-gray-bg) !important;
}

.scrollerBase-1Pkza4 {
    overflow-y: auto !important;
}

.colorDanger-3umuSx:hover {
    background-color: var(--danger);
}

.scroller-nxCRu_ {
    padding: 6px 8px 6px 8px !important;
}

.header-JUTO-g, .titleContainer-3fPic2, .contentRegion-3HkfJJ {
    background-color: var(--darker-gray-bg);
}

.headerClickable-zGQJz3:hover, .headerDefault-1e6yjj:hover {
    border: 2px solid var(--main-cyan) !important;
    border-radius: 0px;
}

.row-1PT9E8:focus-within {
    border: 2px solid var(--main-cyan) !important;
    border-radius: 0px;
    border-color: var(--main-cyan) !important;
}

.categoryItem-Kc_HK_.selectedCategoryItem-ZjqSui .itemInner-3e_4G4 {
    background-color: var(--dark-gray-bg);
}

.pageWrapper-2PwDoS {
    background-color: var(--darker-gray-bg) !important;
}

.card-2TuZPZ {
    background-color: var(--darker-gray-bg) !important;
    border: 2px solid var(--main-cyan);
}

.scroller-RfJjkV {
    background-color: var(--darker-gray-bg);
}

.categoryPill-1zjNrr.selected-bLcqYK {
    background-color: var(--darker-cyan);
}

.base-3bcbY3 > span {
    padding: 5px;
    background-color: var(--darker-gray-bg);
    border-radius: 20px;
}

.activityInviteEducationFadeIn-VliKBR {
    opacity: 1;
}

.messagesPopout-eVzQcI {
    padding-right: 8px !important;
    background-color: var(--darker-gray-bg);
}

.messageGroupWrapper-1jf_7C {
    background-color: var(--darker-gray-bg);
    border: 2px solid var(--dark-gray-bg);
}

.container-2o3qEW {
    flex-direction: row !important;
}

.bar-wDIGjg {
    border: 2px solid var(--main-cyan) !important;
}

.unreadBar-elBRZx {
    border: 2px solid var(--main-cyan) !important;
    background-color: var(--darker-gray-bg);
    margin-left: 50px;
    margin-right: 50px;
}

.newMessagesBar-1hF-9G {
    background-color: var(--darker-cyan);
    border: 2px solid var(--main-cyan);
}

.membersListNotices-UstAx3 {
    width: 0%;
}
