:root {
    --main-color: #00e6f3;
    --darker-main-color: #00b7c2;
    --dark-gray-bg: #3b3b3b;
    --mid-dark-gray-bg: #3333;
    --darker-gray-bg: #1c1c1c;
    --soft-white-gray-color: #aaa;
    --just-white: white;
    --just-black: black;
    --danger: #ca0909;
}

.theme-dark {
    --scrollbar-thin-thumb: var(--dark-gray-bg);
    --scrollbar-thin-track: var(--darker-gray-bg);
    --scrollbar-auto-thumb: var(--dark-gray-bg);
    --scrollbar-auto-track: var(--darker-gray-bg);
}

.guilds__2b93a {
    background-color: var(--darker-gray-bg);
}

.wrapper_d281dd.selected_f5ec8e .childWrapper__01b9c,
.wrapper_d281dd:hover .childWrapper__01b9c {
    background-color: var(--main-color);
    color: var(--darker-gray-bg);
}

.container__7c79d {
    background-color: var(--darker-gray-bg);
}

.content__23cab {
    background-color: var(--darker-gray-bg);
}

.fade_ba0fa0 {
    scrollbar-color: var(--scrollbar-thin-thumb)var(--scrollbar-thin-track);
    background-color: var(--darker-gray-bg) !important;
}

.modeSelected__487d6 {
    border: 2px solid var(--main-color) !important;
    border-radius: 20px;
    background: var(--dark-gray-bg);
}

.modeSelected__487d6 .link__95dc0 {
    border-radius: 20px !important;
}

.containerDefault__3187b:hover {
    border-left: 2px solid var(--main-color);
    background: var(--darker-gray-bg);
}

:root .panels__58331 {
    margin: 0 5px 8px 5px;
    border-radius: 20px !important;
    box-shadow: 0 0 8px 2px var(--just-black),
                0 0 0 0 var(--darker-gray-bg);
    overflow: hidden;
    color: var(--mid-dark-gray-bg);
}

.wrapper__0ed4a {
    border-radius: 8px;
}

.container_d667ff {
    border-bottom: 2px solid var(--darker-gray-bg) !important;
    margin-bottom: 5px;
}

[class^="sidebar_"] [class^="panels_"] {
    margin: 12px;
    border-radius: 8px;
    margin-left: 10px !important;
}

[class^="sidebar_"] [class^="panels_"] [class^="container_"] {
    border-radius: 8px;
    align-items: center;
    justify-content: center;
}

[class^="sidebar_"] [class^="panels_"] [class*="withTagAsButton_"] {
    min-width: 38% !important;
    margin-left: 5px;
    margin-right: 5px;
}

[class^="sidebar_"] [class^="panels_"] [class*="withTagAsButton_"]:hover {
    border-radius: 16px;
}

button.button__4f306.enabled__470f0:hover {
    border-radius: 16px;
}

[class^="sidebar_"] [class^="panels_"] [class^="nameTag_"] [class*="title_"] {
    max-width: 32pt;
}

.sidebar_ded4b5 {
    background-color: var(--darker-gray-bg);
}

.vc-notification-root {
    border: 2px solid var(--main-color) !important;
    background: var(--just-black) !important;
}

.vc-notification-close-btn {
    color: var(--just-white) !important;
}

#vc-spotify-player {
    border-radius: 8px;
    border-bottom: 2px solid var(--darker-gray-bg) !important;
}

.vc-spotify-button {
    background: none;
    color: var(--background-modifier-accent);
    --vc-spotify-green: var(--main-color) !important;
    padding: 0;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

[class^="member_"] {
    border: 2px solid var(--darker-gray-bg);
    border-radius: 20px;
}

[class^="member_"]:hover {
    border: 2px solid var(--main-color);
}

.selected__9800b {
    border: 2px solid var(--main-color);
    border-radius: 20px;
}

[class^="memberInner_"] {
    border-radius: 20px;
}

[class^="members_"] {
    background: var(--darker-gray-bg);
}

.container_b2ce9c {
    background: var(--darker-gray-bg);
}

.members__9f47b {
    padding: 0 0 70px !important;
    overflow-y: auto !important;
}

[class^="userPopoutOuter_"], [class^="userProfileOuter_"], [class^="userProfileOuterUnthemed_"] {
    border-radius: 20px;
}

[class^="userPopoutInner_"], [class^="userProfileInner_"] {
    border-radius: 20px !important;
}

.scroller__83262 {
    overflow-y: hidden !important;
    padding-right: 13px !important;
}

.section__6f61e:has(.note_ba0c31) {
    display: none;
}

.lastSection__37b97 {
    display: none;
}

.section__6f61e {
    padding-bottom: 10px;
}

[class^="chatContent_"] {
    background: var(--darker-gray-bg);
}

[class^="title_"] {
    background: var(--darker-gray-bg) !important;
    box-shadow: 0 0 20px 2px var(--darker-gray-bg);
    border-bottom: 2px solid var(--just-black);
}

.form__13a2c::before {
    background: var(--darker-gray-bg) !important;
}

.item_f9d377 {
    background: var(--main-color);
}

.privateChannels__93473 {
    background-color: var(--darker-gray-bg);
}

.container__5c7e7 {
    background-color: var(--darker-gray-bg);
}

.container__0a6a9 {
    background: var(--darker-gray-bg);
}

[class^="itemCard_"] {
    background-color: var(--darker-gray-bg);
    border: 1px solid var(--just-black);
}

[class^="itemCard_"]:hover {
    background-color: var(--darker-gray-bg) !important;
    border: 1px solid var(--main-color);
}

[class^="itemCard_"] [class^="section_"] {
    background-color: var(--darker-gray-bg);
    border: 1px solid var(--just-black);
}

[class^="itemCard_"].active__76f42 {
    background-color: var(--dark-gray-bg) !important;
    border: 1px solid var(--main-color) !important;
}

.active__76f42 [class^="section_"] {
    background-color: var(--dark-gray-bg) !important;
}

.theme-dark .themed_b152d4 {
    background: var(--darker-gray-bg);
}

[class^="input_"] {
    color: var(--main-color);
}

[class^="input_"]::selection {
    color: var(--main-color);
    background-color: var(--just-black);
}

.input__74754 {
    background-color: var(--darker-gray-bg);
    border: 2px solid var(--just-black);
}

.input__74754:focus {
    background-color: var(--darker-gray-bg);
    border: 2px solid var(--main-color);
}

